.bingoCard {
  display: flex;
  flex-direction: row;
}

.bingoColumn {
  display: flex;
  flex-direction: column;
}

.bingoSquare {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  color: teal;
  font-size: 22px;
  overflow-wrap: anywhere;
  padding: 5px;
  margin: 2px;
  border: 2px solid lightseagreen;
  height: 100px;
  width: 100px;
}

.bingoSquare--marked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  color: aquamarine;
  font-size: 22px;
  overflow-wrap: anywhere;
  padding: 5px;
  margin: 2px;
  border: 2px solid lightseagreen;
  height: 100px;
  width: 100px;
}

#prompt-list {
  display: flex;
  flex-direction: column;
}

.prompt {
  color: black;
  display: flex;
  flex-direction: row;
}

.prompt > li {
  margin-left: 30px;
}

.deleteButton {
  background-color: red;
  color: white;
  font-weight: bold;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  padding: 0;
}